
@import url('https://fonts.googleapis.com/css?family=Acme');



#pagename{
  background-color:#50AEE1;
  padding: 10px;
}


#title{
  color : white;
font-family: 'Acme', sans-serif;
  margin-left: 20px;
}


#main{
  background-color:  #f2f2f2;
  margin-top: 5px;
  padding-bottom: 150px

}

.defsearch{
  padding: 20px;
}

#search-button:hover{
  background-color:#008CBA;
  color : white;
  transition-duration: 0.2s;
  border-color: white;
  font-weight: bold;
  
}
#search-button{
  padding: 10px;
  font-style: italic;
  font-family: 'Acme', sans-serif; 
  border-radius: 10%;
}


#whole{
  margin-left: 200px;
  margin-right: 200px;
  
}





#search-bar{
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size:15px;
}